.App-bg-solid-color {
  width: 100%;
  background-color: #7FD8BE;
  height: 380px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.App-main-container {
  padding-top: 60px;
}

.App-cards-container {
  max-width: 70vw;
  margin: 0 auto;
}